<table>
  <tr>
    <td><%= assignment.assignment %></td>
    <td><%= assignment.assigned %></td>
    <td><%= assignment.date_assigned %></td>
    <td><%= assignment.completed %></td>
    <td><%= assignment.date_completed %></td>
    <td><%= assignment.score %></td>
  </tr>
  </table>
