<table>
  <tr>
    <td><%= assignments.assignment %></td>
    <td><%= assignments.assigned %></td>
    <td><%= assignments.date_assigned %></td>
    <td><%= assignments.completed %></td>
    <td><%= assignments.date_completed %></td>
    <td><%= assignments.score %></td>
  </tr>
  </table>
