<%= form_for new_assign do |f| %>
  <% if f.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(f.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% f.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Assignment %><br />
    <%= f.number_field :assignment, :autofocus => true %>
  </div>
  <div class="field">
    <%= f.label :studentupdate %><br />
    <%= f.check_box :studentupdate %>
  </div>
  <div class="actions">
    <%= partial_submit(f, 'Assignment') %>
  </div>
<% end %>
