<p id="notice"><%= notice %></p>

<%= link_to 'Subjects', subjects_path %> | 
<%= link_to 'Students', students_path %> | 
<%= link_to 'Assignments', assignments_path %> |
<%= link_to 'Resources', resources_path %> <br>


<p>
  <% @student_list.each do |s| %>
    <%= @date.strftime ("%A %B %d, %Y") %> <br/>
    <br/>
    <b><%= s[:student].name%></b><br/>
    <br/>
    <br/>
    <br/>
</p>

  <P> 
    <% s[:a_list].each do |a| %>
     <b> <%= a[:subject] %></b> <br>
     |______| <%= a[:assignment] %> <br><br>
    <% end %>
  </P>
+-+<br>
<% end %>

<%= link_to 'Back', students_path %>
<div class="actions"> 
 <%= button_to "Accept", :action => "update_assigned", :controller => "students", :confirm => "Are You Sure?" %> 
</div>
 

