<p id="notice"><%= notice %></p>

<%= form_tag students_daily_list_path, :method => "get" do %>
  <div class="field">
    <%= label_tag 'Assignment Date' %><br />
    <%= date_select :date, :assigned, :start_year => Time.now.year, :end_year => Time.now.year + 1, :size => 31, :use_short_month => true, :default => Time.now + 86400 %>
  </div>

   <div class="field">
     <%= label_tag 'Students' %><br />
     <%= select_tag 'students[]', options_for_select(@students.map {|s| [s.name, s.id]}, @students.map {|m| m.id}), :multiple => true, :size => 15 %>
   </div>
    
   <div class="actions"> 
    <%= button_to "Daily Assignments", :controller => "students", :action => "daily_list" %> 
   </div>
<% end %>
