<p id="notice"><%= notice %></p>

<%= link_to 'Subjects', subjects_path %> | 
<%= link_to 'Students', students_path %> | 
<%= link_to 'Assignments', assignments_path %> |
<%= link_to 'Resources', resources_path %> <br>
<br/>
<br/>
<H1> Students Assignments </H1>
<%= form_tag students_daily_list_path, :method => "get" do %>
  <div class="field">
    <%= label_tag 'Assignment Date' %><br />
    <%= date_select :date, :assigned, :start_year => Time.now.year, :end_year => Time.now.year + 1, :size => 31, :use_short_month => true, :default => Time.now + 86400 %>
  </div>

   <div class="field">
     <%= label_tag 'Students' %><br />
     <%= select_tag 'students[]', options_for_select(@students.map {|s| [s.name, s.id]}, @students.map {|m| m.id}), :multiple => true, :size => 15 %>
   </div>
    
   <div class="actions"> 
    <%= button_to "Daily Assignments", :controller => "students", :action => "daily_list" %> 
   </div>
<% end %>


<H1> Teachers Notes </H1>

<%= form_tag assignments_teachers_notes_path, :method => "get" do %>
  <div class="field">
    <%= label_tag 'Start Date' %><br />
    <%= date_select :date, :start_date, :start_year => Time.now.year, :end_year => Time.now.year + 1, :size => 31, :use_short_month => true, :default => Time.now %>
  </div>

  <div class="field">
    <%= label_tag 'End Date' %><br />
    <%= date_select :date, :end_date, :start_year => Time.now.year, :end_year => Time.now.year + 1, :size => 31, :use_short_month => true, :default => Time.now + 518400 %>
  </div>

   <div class="actions"> 
    <%= button_to "Teachers Notes", :controller => "assignments", :action => "teachers_notes" %> 
   </div>
<% end %>

