
        <% @cur_pri = @subject.priority %>
        <%= form_for(@subject) do |f| %>
          <% if @subject.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>
        
              <ul>
              <% @subject.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        
          <div class="field">
            <%= f.label :Subject %><br />
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :"Nick Name" %><br />
            <%= f.text_field :nickname %>
          </div>
          <div class="field">
            <%= f.label :"Base ID" %><br />
            <%= f.text_field :base_id, :value => @b_id %>
          </div>
          <div class="field">
            <%= f.label :Priority %><br />
            <%= f.select :priority, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12],[13,13],[14,14],[15,15]], :selected => @cur_pri, @default => 3 %>
          </div>
          <div class="field">
            <%= f.label :Student %><br />
            <%= select(:subject, :student_id, @students.map { |s| [ s.name, s.id ] }, :include_blank => true, :selected => @subject.student_id) %>
          </div>
          <div class="field">
            <%= f.label :"Should a grade be recorded?" %>
            <%= f.check_box :graded %><br />
          </div>
          <div class="field">
            <%= f.label :"Do the asignments repeat?" %>
            <%= f.check_box :repeating %><br />
          </div>
          <div class="field">
            <%= f.label :"Can students record their own score?" %>
            <%= f.check_box :studentupdate %><br />
          </div>
          <div class="field">
            <%= f.label  :Monday %>
            <%= f.check_box :AssignOnMonday %><br />
          </div>
          <div class="field">
            <%= f.label :Tuesday %>
            <%= f.check_box :AssignOnTuesday %><br />
          </div>
          <div class="field">
            <%= f.label :Wednesday %>
            <%= f.check_box :AssignOnWednesday %><br />
          </div>
          <div class="field">
            <%= f.label :Thursday %>
            <%= f.check_box :AssignOnThursday %><br />
          </div>
          <div class="field">
            <%= f.label :Friday %>
            <%= f.check_box :AssignOnFriday %><br />
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
