<p id="notice"><%= notice %></p>

<%= link_to 'Subjects', subjects_path %>

<p>
  <b>Name:</b>
  <%= @subject.name %>
</p>


<%= render :partial => "assignments/assignments", :collection => @assignments, :locals => { :return_subject => @subject, :new_assign => @new_assign } %>


<%= form_for([@subject, @new_assign]) do |f| %>
  <div class="field">
    <%= f.hidden_field :subject_id, :value => @subject.id %>
  </div>
  <div class="field">
    Assignment         : <%= f.text_field :assignment, :tabindex => 1 %>
  </div>
  <div class="field">
    Projected Date     : <%= @adate.strftime("%^A") %> <%= f.date_select :date_assigned, :start_year => Time.now.year, :end_year => Time.now.year + 1, :use_short_month => true, :default => @adate %>
  </div>
  <div class="field">
    Teachers Comments  :<%= f.text_field :watchfor %>
  </div>
  <div class="field">
    Materials Required :<%= f.text_field :materialsrequired %>
  </div>
  <div class="field">
    Materials Reminder :<%= f.date_select :notify_by, :include_blank => true, :default => nil %>
  </div>
  <div class="actions">
    <%= f.submit "Create Assignment" %>
  </div>
<%end%>

<%= link_to 'Subjects', subjects_path %>
