<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @subject.name %>
</p>
<p>
  <b>Assignment Day: </b>
  <%= $day %>
</p>



<%= render :partial => "assignments/assignments", :collection => @assignments %>


<%= form_for([@subject, @new_assign]) do |f| %>
  <div class="field">
    <%= f.hidden_field :subject_id, :default => @subject_id %>
  </div>
  <div class="field">
    <%= f.label :Assignment %><br />
    <%= f.text_field :assignment %>
  </div>
  <div class="field">
    <%= f.label :student_scored %><br />
    <%= f.check_box :studentupdate %>
  </div>
  <div class="actions">
    <%= f.submit "Create Assignment" %>
  </div>
<%end%>

<%= link_to 'Back', subjects_path %>
